* {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Helvetica', 'Verdana', sans-serif;
}

h1 {
    font-size: 60px;
}

img {
    width: 500px;
    height: auto;
}

.links {
    font-size: 30px;;
}